<!DOCTYPE html>
<html lang="en">
  <head>
  {% load staticfiles %}
  <link href="{% static "OOMMPPAA/bootstrap.css" %}" media="screen" rel="stylesheet"/>
  <script src="{% static "OOMMPPAA/jquery-1.7.min.js" %}"></script>
  <script src="{% static "OOMMPPAA/bootstrap.min.js" %}"></script>
  <link rel="stylesheet" href="{% static "OOMMPPAA/bootstrap.min.css" %}">
  <link rel="shortcut icon" href="{% static "OOMMPPAA/icon.ico" %}" type="image/x-icon">
   <title>OOMMPPAA: Home </title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta charset="utf-8">
  </head>
  <body>
  <div id="tot-container" class="container">
    <div class="row">
      <div class="col-lg-12 well-sm">
  We have detected the ActiveICM plugin is not working. <br></br>
  Please click on <a href="http://www.molsoft.com/getbrowser.cgi?product=activeicm&act=list">this link </a> to find relevant install instructions<br></br>
    </div><div class="col-lg-12 well-sm">
  If you are using Chrome you must also enable the browser to use the plugin<br>Type "chrome://flags/#enable-npapi" into the search bar<br>"Enable npapi"
      </div>
  </body>
</html>