
<head>
{% load staticfiles %}

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">   
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" 
src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{% static "OOMMPPAA/ICM_funs.js" %}"></script>
<script>
var table = "";
$(document).ready(function(){
table = $('#myTable').DataTable( {
} );

// Load in this mol  by PK
var mol_string = mybase+'/Viewer/loader/?choice={{mol_id}}&function=VIEWMOLPK';
runCommand('read mol "'+mol_string+'" name="{{mol_id}}mol"');
runCommand('display a_{{mol_id}}mol*.* wire');
runCommand('color a_{{mol_id}}mol*./*/c* grey');



var prot_string = mybase+'/Viewer/loader/?choice={{ prot_code }}&function=VIEWPROTEIN';
runCommand('read pdb "'+prot_string+'" name="{{ prot_code }}prot"');
runCommand('display a_{{ prot_code }}prot*.* 5 ribbon');
runCommand('display Res(Sphere(a_*.m  a_{{ prot_code }}prot*.* 5)) xstick');
runCommand('color a_{{ prot_code }}prot*./*/c* grey');

});

function load_me(pk){

var url_string = "{% url 'FUDGE:get_cluster_info' 0 %}".replace("/0/", "/"+pk.toString()+"/")
//table.ajax.url( url_string ).load();

// Load in this fragment by PK
var frag_string = mybase +"{% url 'FUDGE:get_frag_sdf' 0 %}".replace("/0/", "/"+pk.toString()+"/")+"?MOL_ID={{ mol_id }}"
var url_smi =  "{% url 'Viewer:loader'  %}?function=2DMOL&choice=";
var url_cmp =  "{% url 'Viewer:loader'  %}?function=VIEWCMPDPK&choice=";

runCommand('read mol "'+frag_string+'"')
runCommand('display a_ xstick');

$.ajax({
  url: url_string,
  beforeSend: function( xhr ) {
    xhr.overrideMimeType( "application/json; charset=x-user-defined" );
  }
})
  .done(function( data ) {
   out_html = ""
   for (var i=0; i< data.length; i++){
   out_html+="<tr><td>"+data[i]["act_change"].toString().slice(0,4)+"</td><td><img style='width:150px' src='"+url_cmp+data[i]["mol_from"]+"'></img></td><td><img style='width:150px' src='"+url_cmp+data[i]["mol_to"]+"'></img></td></tr>"

   //out_html+="<tr><td>"+data[i]["act_change"].toString().slice(0,4)+"</td><td><img src='"+url_smi+encodeURIComponent(data[i]["frag_from"])+"'></img></td><td><img src='"+url_smi+encodeURIComponent(data[i]["smiles"])+"'></img></td><td><img style='width:0px' src='"+url_cmp+data[i]["mol_from"]+"'></img></td><td><img style='width:250px' src='"+url_cmp+data[i]["mol_to"]+"'></img></td></tr>"
   }
    table.destroy();
   document.getElementById('my_tbody').innerHTML = out_html;
table = $('#myTable').DataTable( {
} );
   })

}
var loadmymolold = "";
var target_id = {{ target.pk }};
var target_name= '{{ target.title }}';
function loadmymol(){
// javascript function to run when loading molecular images
pdb_code = document.getElementById('pdbin').value;

if(pdb_code == loadmymolold){
// Don't submit the same request twice
  var me=1;
}
else{
// Delete an existing molecul
// Reset the catch variable
loadmymolold = pdb_code;
// load the macro, wait two seconds for this to finish
// First make a call to see what it is (PDB code, valid smiles or not either -> returns None or PDB code either way)
var url_string = mybase+'/Viewer/loader/?choice='+pdb_code+'&function=CHECKMOL&target={{  target.pk }}';
var me = "";
$.ajax({
  url: url_string,
  beforeSend: function( xhr ) {
    xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
  }
})
  .done(function( data ) {
   pdb_code = data;
   alert(pdb_code)
   if(pdb_code=="None molecule"){
   alert("NOT MOLECULE");
   }
   else{
  // Now make the actual request for the molecule
   my_url = "{% url 'FUDGE:ShowMolClustersPDB' %}?PDB_CODE="+pdb_code;

   
		$.ajax({
		url: my_url,
		beforeSend: function( xhr ) {
		xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
		}
		})
		.done(function( data ) {
         view_url = "{% url 'FUDGE:ShowMolClusters' 0 %}".replace("/0/", "/"+data.toString()+"/")
         
		   window.open(view_url,'_blank');
		})
   
   
   
    }
  })
}
}

</script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="{% url 'WONKA:index'%}" class="navbar-brand">GLOOP</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="targets">Targets <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
			    {% if targets %}
			      {% for Target in targets %}
			        <li><a tabindex="-1"href="{% url 'WONKA:Summarise' Target.id %}">{{ Target.title }}</a></li>
			      {% endfor %}
			    {% else %}
			    <li><a tabindex="-1" >No targets are available.Make your first?</a></li>
			    {% endif %}
              </ul>
            </li>
            <li>
              <a href="http://www.blopig.com/blog/">Blog</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Download<span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
			       <li><a tabindex="-1"href="https://bitbucket.org/abradley/wonka/wiki/Home">Bitbucket</a></li>
			    </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left">
            <input id="pdbin" type="text" class="form-control col-lg-8" placeholder="Input SMILES or code">
          </form>
          <ul class="nav navbar-nav">
            <li>
              <a  id="searchbutt"  class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Search for this PDB id or SMILES" onclick="loadmymol();">Search</a>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li>
              <a href="{% url 'index' %}">HOME</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-left">
            <li><a>{{ target.title }}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
          </ul>
        </div>
      </div>
    </div>

<div style="margin-top:50px"  class="container-fluid">
<div id="ICM-box" class="col-lg-6">
      <div id="TOGGLE BOX" >
		<ul class="pagination">
		 {% for my_id in my_clusts %}
		  <li id="ITEM{{forloop.counter}}"><a onclick="load_me({{my_id.pk}})">{{ forloop.counter }}</a></li>
		 {% endfor %}
		</ul>
	  </div>
	  <div id="ICM-container" style="margin-top:10px" >
	  <object type="application/x-molsoft-icb" style="width: 100%; height:450px; margin: 0 !important;" id="ActiveIcmCtl">
	  <param value="{% static "Viewer/overview.icb" %}" name="targetFile">
	  <param value="windowed" name="wmode">
	</object>
	<p></p>
    <a data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Gives ICM a shiny white background" class="btn btn-sm btn-default" onclick="runCommand('color background rgb={255,255,255}');">White display</a>
    <a data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Gives ICM a brutal black background" class="btn btn-sm btn-default" onclick="runCommand('color background rgb={0,0,0}');">Dark display</a>
    <a data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Undisplay the protein"  style="margin-left:10px" class="btn btn-sm btn-primary" onclick="runCommand('undisplay a_1qmz*. ');runCommand('undisplay a_{{ target.title}}TEMP. ');">Protein off</a>
    <a data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Show the protein as skin"  class="btn btn-sm btn-primary" class="btn btn-sm btn-primary" onclick="runCommand('undisplay a_{{ target.title}}TEMP. xstick');runCommand('display a_{{ target.title}}TEMP. ribbon');runCommand('display Sphere(a_*.m a_{{ target.title}}TEMP. 8) skin')">Surface</a>
    <a data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Show the protein as stick and cartoon"  class="btn btn-sm btn-primary" class="btn btn-sm btn-primary" onclick="runCommand('undisplay a_{{ target.title}}TEMP. skin');runCommand('display Sphere(a_*.m a_{{ target.title}}TEMP. 8) xstick');runCommand('display a_{{ target.title}}TEMP. ribbon');">Stick</a>
	<a data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Maximise this display - it's NOT BIG ENOUGH" style="margin-left:10px" id="maxbutt" style="margin-left:10px" class="btn btn-sm btn-info" onclick="maxICM(0);">Max</a>
	<a data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Show the compounds from the selected points" id="mmpdispbutt" style="margin-left:10px;display:none" onclick="document.getElementById('newmolcanv').style.display='';findasgr('{{ maps.0.pk }},{{ maps.1.pk }},{{ maps.2.pk }}','newmolcanv');" class="btn btn-sm btn-success">Display compounds</a>
    <a data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Remove those compounds from the 3D display" id="mmprembutt" style="display:none" onclick="runCommand('GRAPHICS.l_redraw = no');runCommand('delete a_MOL*.*');runCommand('GRAPHICS.l_redraw = yes');runCommand('display new');" class="btn btn-sm btn-warning">Remove </a>
    <a data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Minimise this dispay - it's TOO BIG" id="minbutt" style="display:none;margin-left:10px" class="btn btn-sm btn-danger" onclick="maxICM(1);">Min</a>
    </div>
</div>
<div style="margin-top:50px" class="col-lg-6">
   <table id="myTable" class="table table-striped" > 
     <thead>  
          <tr>
		  <th>ACTIVITY CHANGE</th>  
            <th>MOL FROM</th>  
            <th>MOL TO</th>  
          </tr>  
        </thead>  
        <tbody id="my_tbody">
        </tbody>  
      </table> 
</div>

</div>
</body>