<!DOCTYPE html>
<html lang="en">
  <head>
  {% load staticfiles %}
  <link href="{% static "LLOOMMPPAA/bootstrap.css" %}" media="screen" rel="stylesheet"/>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="{% static "OOMMPPAA/jquery-1.7.min.js" %}"></script>
  <script src="{% static "LLOOMMPPAA/bootstrap.min.js" %}"></script>
  <script src="{% static "OOMMPPAA/ICM_funs.js" %}"></script>
  <link rel="shortcut icon" href="{% static "OOMMPPAA/icon.ico" %}" type="image/x-icon">
  <script src="{% static "OOMMPPAA/bootstrap-slider.js" %}"></script>
  <link rel="stylesheet" href="{% static "OOMMPPAA/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "OOMMPPAA/slider.css" %}">  
   <title>LLOOMMPPAA: {{ target.title }}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta charset="utf-8">

<script>
// Function to show the fragments
function show_frags(my_pk){

var my_frag_url =  mybase + "{% url 'LLOOMMPPAA:get_sdf_info' 2 %}".replace("/2/", "/" + my_pk.toString() + "/")

var my_cmd = "read mol '" + my_frag_url + "'";

runCommand(my_cmd);
runCommand("display a_FRAG*.* xstick");


}
$(document).ready(function() {

     loadmyprot('m007_b_2')
     
}
)

</script>

<script>
     var time = new Date().getTime();
     $(document.body).bind("mousemove keypress", function(e) {
         time = new Date().getTime();
     });

     function refresh() {
         if(new Date().getTime() - time >= 600) 
             window.location.reload(true);
         else 
             setTimeout(refresh, 10000);
     }

     setTimeout(refresh, 10000);
</script>
  </head>
  <body> 
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{% url 'LLOOMMPPAA:index'%}" class="navbar-brand">LLOOMMPPAA</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="targets">Targets <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
			    {% if targets %}
			      {% for Target in targets %}
			        <li><a tabindex="-1"href="{% url 'LLOOMMPPAA:ExperimentViewer' Target.id %}">{{ Target.title }}</a></li>
			      {% endfor %}
			    {% else %}
			    <li><a tabindex="-1" >No targets are available.Make your first?</a></li>
			    {% endif %}
              </ul>
            </li>
            <li>
              <a href="http://www.blopig.com/blog/">Blog</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Download<span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
			       <li><a tabindex="-1"href="https://bitbucket.org/abradley/dist/Windows">Windows</a></li>
			       <li class="divider"></li>
			       <li><a tabindex="-1"href="https://bitbucket.org/abradley/dist/Ubuntu">Ubuntu</a></li>
			       <li><a tabindex="-1"href="https://bitbucket.org/abradley/dist/Centos">Centos</a></li>
			       <li class="divider"></li>
			       <li><a tabindex="-1"href="https://bitbucket.org/abradley/src">Python</a></li>
			    </ul>
            </li>
                        <li>
              <a href="{% url 'index' %}">HOME</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
          </ul>
        </div>
      </div>
    </div>
<div id="tot-container" class="container-fluid">
<div id="spacer" class="col-lg-12"><br/></div>
	<div class="col-lg-12"  id="opt-container">
            <h2 id="nav-tabs">Summary</h2>
			<table class="table table-striped table-hover ">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Fragment</th>
                    <th>Reaction</th>
                    <th>Library</th>
                    <th>Stage</th>
                    <th>Completion</th>                    
                  </tr>
                </thead>
                <tbody>
                  {% for item in react_proc %}
                  <tr >
                    <td>{{ item.pk  }}</td>						
                    <td>{{ item.title }}</td>
                    <td><img src="{% url 'Viewer:loader' %}?function=2DMOL&choice={{ item.react_frag|urlencode }}"></img></td>
                    <td>{{ item.react_id.name }}</td>
                    <td>LIBNAMES</td>
                    <td>{{ item.proc_stage }}</td>
                    {% if  item.stage_completion == -1 %}
                    <td> WAITING</td>                    
                    {% endif %}
                    {% if item.stage_completion > -1 %}
                    <td>{{ item.stage_completion }} %</td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
	</div>
	<div class="col-lg-1" ></div>
	<div class="col-lg-10"  id="prog-container">
	{% for item in react_proc %}
	
		{% for stage in done_stages %}
		   <div style="height:100px" class=" col-lg-1 alert alert-success">
			  		   {{ stage }}
		   </div>
	    {%  endfor %}
	
		   <div style="height:100px" class="col-lg-1 alert alert-info">
			  		   {{ item.proc_stage }}
		   </div>

		{% for stage in to_do_stages %}
		   <div style="height:100px" class="col-lg-1 alert alert-danger">
			  		   {{ stage }}
		   </div>
		{%  endfor %}
	{% endfor %}
	</div>
	<div class="col-lg-1" ></div>
    <div class="col-lg-3"></div>
    {% for item in react_proc %}
	<div class="col-lg-6 progress progress-striped active">
                <div style="width: {{ item.stage_completion }}%" class="progress-bar"></div>
    </div>
    {% endfor %}
	<div class="col-lg-3"></div>
  </div>
</div>
</body>
</html> 