<!DOCTYPE html>
<html lang="en">
  <head>
  {% load staticfiles %}
  <link href="{% static "OOMMPPAA/bootstrap.css" %}" media="screen" rel="stylesheet"/>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="{% static "OOMMPPAA/jquery-1.7.min.js" %}"></script>
  <script src="{% static "OOMMPPAA/bootstrap.min.js" %}"></script>
  <script src="{% static "OOMMPPAA/ICM_funs.js" %}"></script>
  <link rel="shortcut icon" href="{% static "OOMMPPAA/icon.ico" %}" type="image/x-icon">
  <script src="{% static "OOMMPPAA/bootstrap-slider.js" %}"></script>
  <link rel="stylesheet" href="{% static "OOMMPPAA/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "OOMMPPAA/slider.css" %}">
   <title>LLOOMMPPAA: {{ target.Title }}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta charset="utf-8">
 <script>
var loadmymolold = "";
var target_id = {{ target.pk }};
var target_name= '{{ target.Title }}';
function loadmymol(){
// javascript function to run when loading molecular images
pdb_code = document.getElementById('pdbin').value;
if(pdb_code == loadmymolold){
// Don't submit the same request twice
  var me=1;
}
else{
// Delete an existing molecule
runCommand('GRAPHICS.l_redraw = no');
runCommand('delete a_.* &! a_act.* &! a_inact.* &! a_shape.* &! a_{{ target.title }}TEMP.* ');
runCommand('GRAPHICS.l_redraw = yes');
runCommand('display new');
// Reset the catch variable
loadmymolold = pdb_code;
// load the macro, wait two seconds for this to finish
var mynewurl = mybase+"{% static "OOMMPPAA/macros.icm" %}";
runCommand('call "'+mynewurl+'"');
// First make a call to see what it is (PDB code, valid smiles or not either -> returns None or PDB code either way)
var url_string = mybase+'/Viewer/loader/?choice='+pdb_code+'&function=CHECKMOL&target={{  target.pk }}';
var me = "";
$.ajax({
  url: url_string,
  beforeSend: function( xhr ) {
    xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
  }
})
  .done(function( data ) {
   pdb_code = data;
   if(pdb_code=="None molecule"){
     document.getElementById('mynewcanv-error').style.display="";
     document.getElementById('mynewcanv3-error').style.display="";
   }
   else{
     document.getElementById('mynewcanv-error').style.display="none";
     document.getElementById('mynewcanv3-error').style.display="none";
  // Now make the actual request for the molecule
   var url_string = mybase+'/Viewer/loader/?choice='+pdb_code+'&function=VIEWMOL';
   runCommand('read mol "'+url_string+'"');
   runCommand('display a_.* &! a_act.* &! a_inact.* &! a_shape.* xstick');
   // And for the image
   var url_string_new =mybase+'/Viewer/loader/?function=MAKESIM&map=1&choice='+pdb_code+'&target='+target_id;
   fillme(url_string_new,'mynewcanv');
   var url_string_new =mybase+'/Viewer/loader/?function=MAKESIM&map=3&choice='+pdb_code+'&target='+target_id;
   fillme(url_string_new,'mynewcanv3');
    }
  })
}
}
function updateMap(){
// function to update the activiy maps

var myMaps=new Array();
var myPks =new Array();
runCommand('deleteObjs "star" Atom(a_act.)');
runCommand('deleteObjs "cube" Atom(a_inact.)');
runCommand('deleteObjs "doublepyramid" Atom(a_non.)');
{% for map in maps %}
myMaps[{{ forloop.counter0 }}] = '{{map.Type}}'
myPks[{{ forloop.counter0 }}] = {{ map.pk }}
{% endfor %}

for (var i=0;i<myMaps.length;i++)
	{
	if ($('#choice'+myMaps[i]+'blah').is(':checked'))
		{
		loadpdblight(myMaps[i],myPks[i])
		};
	};
};

function maxAct(log){
           if (log==0){  
           var ht = String($(window).height()*0.8)+"px"
           document.getElementById('act-container').style.height=ht;
           document.getElementById('maxactbutt').style.display="none";
           document.getElementById('minactbutt').style.display="";
           }
           else if(log==1){
           document.getElementById('act-container').style.height="";
           document.getElementById('maxactbutt').style.display="";
           document.getElementById('minactbutt').style.display="none";
           }
};

function maxICM(log){

// Function to control the size of the ICM window. Should go in ICM_funs.js eventually
    		// undisplay all the divs
    		
    		var mydivs = new Array('ICM','maps','sliders','act','im','im2');

    		
			if(log==0){    		
    		for (var i = 1; i < mydivs.length; i++) {
    		  document.getElementById(mydivs[i]+'-container').style.display='none';
			}
			document.getElementById('ICM-box').setAttribute("class","col-lg-12");
			var wt = String($(window).width())+"px"
			var ht = String($(window).height()*0.8)+"px"
            document.getElementById('ActiveIcmCtl').style.height=ht;
            document.getElementById('ActiveIcmCtl').style.width=wt;
            document.getElementById('tot-container').style.marginLeft="20px";
            document.getElementById('tot-container').style.marginRight="20px";
            //.margin-left="10px";
            document.getElementById('minbutt').style.display="";
            document.getElementById('maxbutt').style.display="none";
            document.getElementById('mmpdispbutt').style.display="";
            document.getElementById('mmprembutt').style.display="";
            document.getElementById('ICM-png').style.display="none";
            var ht = String($(window).height()*0.8)+"px"
			var wt = String($(window).width()*0.3)+"px"        
            
            }
            else if(log==1)
            {
    		for (var i = 1; i < mydivs.length; i++) {
    		  document.getElementById(mydivs[i]+'-container').style.display='';
			}
			document.getElementById('ICM-png').style.display="";
			document.getElementById('ICM-box').setAttribute("class","col-lg-6");
            document.getElementById('ActiveIcmCtl').style.height='450px';
            document.getElementById('ActiveIcmCtl').style.width='100%';
            document.getElementById('tot-container').style.marginLeft="";
            document.getElementById('tot-container').style.marginRight="";
            document.getElementById('minbutt').style.display="none";
            document.getElementById('maxbutt').style.display="";   
            document.getElementById('mmpdispbutt').style.display="none";
            document.getElementById('mmprembutt').style.display="none";        
            
            }
};
var ht = String($(window).height()*0.8)+"px"
			


function  letsshape2(shape){
// function to put  shapes into the ICM viewer
	var myurl = mybase+"{% static "OOMMPPAA/shapes.icb" %}"
	runCommand('read binary "'+myurl+'" name="'+shape+'"')
	runCommand('undisplay '+shape)
};

window.onload = function()
                {

 	// load the macro
	var mynewurl = mybase+"{% static "OOMMPPAA/macros.icm" %}";
    runCommand('call "'+mynewurl+'"');
	var mynewurl = mybase+"{% static "OOMMPPAA/macros.icm" %}";
	runCommand('call "'+mynewurl+'"');
	// Now load in the shapes
	var myurl = mybase+"{% static "OOMMPPAA/shapes.icb" %}"
	letsshape2('star');
	letsshape2('cube');
};
 $(function(){
    $("[data-hide]").on("click", function(){
        $("." + $(this).attr("data-hide")).hide();
        // -or-, see below
        // $(this).closest("." + $(this).attr("data-hide")).hide();
    });
});
var spinner = '{% static "OOMMPPAA/spinner.gif" %}'
    	$(document).ready(function() {
    		  var spinurl = mybase+spinner;
              var img = document.createElement("IMG");
              img.src = spinurl;     		
	    	/* Make sliders */
	        $("#pharm").slider({});
	        $("#act").slider({});
	        setTimeout(function(){
	        // Load the protein
	        loadmyprot('{{ target.prot }}')
	        // Now set the view
	        runCommand('display a_*TEMP. ribbon');
	        // Load in any ligand for this target and centre on this ligand
            var mol_string = mybase+'/Viewer/loader/?choice={{ target.mol }}&function=VIEWMOL';
            runCommand('read mol "'+mol_string+'" name="MYMOL"');
            runCommand('display a_MYMOL*.* xstick');
            runCommand('center a_MYMOL*.* ');
            var mol_string = mybase+'/Viewer/loader/?target={{ target.pk }}&function=GETSP&choice=1';
            runCommand('read mol "'+mol_string+'"');
            //runCommand('center a_MYMOL*.* ');
	        },2000)
    	});
    	
$(document).keypress(function(event) {
	
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if (keycode == '13') {
        event.preventDefault();
        $('#searchbutt').click();
    }
});
</script>


<script>
// functions specific to LLOOMMPPAA
function searchdbs(){
var myDbs=new Array();
{% for db in DATABASES %}
  myDbs[{{ forloop.counter0 }}] = '{{db}}'
{% endfor %}
my_s = new Array()
for (var i=0;i<myDbs.length;i++)
	{
	if ($('#choice'+myDbs[i]+'mydb').is(':checked'))
		{
		my_s.push(myDbs[i])
		};
	};
	if(my_s.length==0){
	  alert('you must select a database')
	}
	
	else{
	findexps('{{ maps.0.pk }},{{ maps.1.pk }},{{ maps.2.pk }}',"mymolcanv",my_s.join());
	}
};


function findpoints(opt){
var myph4s=new Array();
{% for ph4 in ph4s %}
  myph4s[{{ forloop.counter0 }}] = '{{ph4.smiles}}'
{% endfor %}

// Fill the array
my_s = new Array();
for (var i=0;i<myph4s.length;i++)
	{
	if ($('#choice'+myph4s[i]+'ph4').is(':checked'))
		{
		my_s.push(myph4s[i])
		};
	};
	
	
	if(my_s.length==0){
	  alert('you must select a pharmacophore point')
	}
	
	else{
	// pass the target_id and the query ph4 to findexps
	var url_string = mybase+'/Viewer/loader/?function=PH4'+opt+'&target='+target_id+'&choice='+my_s.join();
	runCommand("read mol '"+url_string+"'");
	runCommand("display a_");
	}
};

function checkfrag(smiles) {
var url_string = mybase+'/Viewer/loader/?function=CHECKSMI&choice='+smiles
  return $.get(url_string);
}
function findfrags(opt){
var myfrags=new Array();
{% for frag in frags %}
  myfrags[{{ forloop.counter0 }}] = '{{frag}}'
{% endfor %}

// Fill the array
my_s = new Array();
for (var i=0;i<myfrags.length;i++)
	{
	if ($('#choice'+i+'frag').is(':checked'))
		{
		my_s.push(myfrags[i])
		};
	};
	// Make a request to check this is valid smiles
	myfrag = document.getElementById('inputsmi').value

	
	$.when(checkfrag(myfrag)).done(function(data) {
  	if(data=="FALSE"){
  		if(myfrag!=""){
  		alert("not valid smiles")
  		}
  	}
  	
  	else{
  		my_s.push(myfrag)
  	}
	// here if nothing is checked you can take input from a text field
	if(my_s.length==0){
	  alert('you must select a fragment')
	}

	else{
	// pass the target_id and the query frag to findexps
	var url_string = mybase+'/Viewer/loader/?function=FRAG'+opt+'&target='+target_id+'&choice='+my_s.join();
	runCommand("read mol '"+url_string+"'");
	runCommand("display a_");
	}
	
  	}
	)	
	

};

var globalpk = 0;
var globalotherpk = 0;
var globalswitch = "";
function mepoints(pk,relpk,myswitch){


$(".mdang").each(function() {
var me = $(this).attr("class");
$(this).attr("class",me.replace("warning","danger"));
})
$(".msucc").each(function() {
var me = $(this).attr("class");
$(this).attr("class",me.replace("warning","success"));
})

var my_s_1 = "";
var my_s_2 = "";

// Flick around which boxes to deal with
if (myswitch=="good"){
my_s_1 = "MOL"+pk;
my_s_2 = "MOL"+relpk;
}
else{
my_s_1 = "MOL"+relpk;
my_s_2 = "MOL"+pk;
}

	$("."+my_s_1).each(function() {
	var me = $(this).attr("class");
	$(this).attr("class",me.replace("success","warning"));
	})
	
	
	$("."+my_s_2).each(function() {
	var me = $(this).attr("class");
	$(this).attr("class",me.replace("danger","warning"));
	
	})






if (myswitch=="good"){
var url_string = mybase+'/Viewer/loader/?function=POINTS&choice='+pk;
runCommand("read mol '"+url_string+"'");
runCommand("display a_ cpk green");


}
else{
var url_string = mybase+'/Viewer/loader/?function=POINTS&choice='+pk;
runCommand("read mol '"+url_string+"'");
runCommand("display a_ cpk red");


}


globalpk = pk;
globalotherpk = relpk;
globalswitch = myswitch;
}

function showcmps(){
	
	
	var url_string = mybase+'/Viewer/loader/?function=MOLS&choice='+globalpk+'&map=NONE&output=images';
	url_string = url_string.replace(/[\r\n]/g, "");
	var url_string_new = mybase+'/Viewer/loader/?function=MOLS&choice='+globalpk+'&map=NONE&output=sds';
	url_string_new = url_string_new.replace(/[\r\n]/g, "");
	var new_s = "read mol '"+url_string_new+"'";
	if(globalswitch=="good"){
	
	fillme(url_string,"newmolcanv",new_s)
	fillme(mybase+'/Viewer/loader/?function=MOLS&choice='+globalotherpk+'&map=NONE&output=images',"antimolcanv")
	
	}
	else{
	fillme(url_string,"antimolcanv",new_s)
	fillme(mybase+'/Viewer/loader/?function=MOLS&choice='+globalotherpk+'&map=NONE&output=images',"newmolcanv")	
	
	}
}




</script>
  </head>
  <body> 
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{% url 'LLOOMMPPAA:index'%}" class="navbar-brand">LLOOMMPPAA</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="targets">Targets <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
			    {% if targets %}
			      {% for Target in targets %}
			        <li><a tabindex="-1"href="{% url 'OOMMPPAA:viewer' Target.id %}">{{ Target.Title }}</a></li>
			      {% endfor %}
			    {% else %}
			    <li><a tabindex="-1" >No targets are available.Make your first?</a></li>
			    {% endif %}
              </ul>
            </li>
            <li>
              <a href="http://www.blopig.com/blog/">Blog</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Download<span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
			       <li><a tabindex="-1"href="https://bitbucket.org/abradley/dist/Windows">Windows</a></li>
			       <li class="divider"></li>
			       <li><a tabindex="-1"href="https://bitbucket.org/abradley/dist/Ubuntu">Ubuntu</a></li>
			       <li><a tabindex="-1"href="https://bitbucket.org/abradley/dist/Centos">Centos</a></li>
			       <li class="divider"></li>
			       <li><a tabindex="-1"href="https://bitbucket.org/abradley/src">Python</a></li>
			    </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
          </ul>
        </div>
      </div>
    </div>
<div id="tot-container" class="container">
  <div class="col-lg-4 row">
	<div class="row-fluid">
		<div class="accordion" id="accordion2">
			<div class="accordion-group" style="text-align:center">
				<div class="accordion-heading" style="background-color:rgb(65, 219, 219);"><a class="accordion-toggle" href="#collapse1" style="font-size:20px;color:white;" data-toggle="collapse" data-parent="#accordion2">Aromatic</a></div>
				<div class="accordion-body collapse" id="collapse1">
					<div class="accordion-inner">
					  <table class="table ">
						<thead>
					        <tr>
					          <td>Mean change</td>
					          <td>Max change</td>
					          <td># points</td>
					      	  <td>Mean change</td>
					          <td>Max change</td>
					          <td># points</td>
					        </tr>
					  	</thead>
					     <tbody>
					       {% for ITEM in AROM %}
					        <tr>
					          <td onclick="mepoints({{ ITEM.pk }},'{{ ITEM.mmp_clus_id.pk }}','good' )" class="success MOL{{ITEM.pk}} msucc">{{ ITEM.mean_change|floatformat }}</td>
					          <td onclick="mepoints({{ ITEM.pk }},'{{ ITEM.mmp_clus_id.pk }}','good' )" class="success MOL{{ITEM.pk}} msucc">{{ ITEM.max_change|floatformat }}</td>
					          <td onclick="mepoints({{ ITEM.pk }},'{{ ITEM.mmp_clus_id.pk }}','good' )" class="success MOL{{ITEM.pk}} msucc">{{ ITEM.num_points }}</td>
					     	  <td onclick="mepoints({{ ITEM.badpk }},'{{ ITEM.badclus_id }}','bad' )" class="danger MOL{{ITEM.badpk}} mdang ">{{ ITEM.mean_change_bad|floatformat }}</td>
					          <td onclick="mepoints({{ ITEM.badpk }},'{{ ITEM.badclus_id }}','bad' )" class="danger MOL{{ITEM.badpk}} mdang ">{{ ITEM.max_change_bad|floatformat }}</td>
					          <td onclick="mepoints({{ ITEM.badpk }},'{{ ITEM.badclus_id }}','bad' )" class="danger MOL{{ITEM.badpk}} mdang ">{{ ITEM.num_points_bad }}</td>
					        </tr>
					  		{% endfor %}
					  	</tbody>
					  </table>
			  </div>
			</div>
		  </div>
		</div>
	<div class="accordion" id="accordion3">
			<div class="accordion-group" style="text-align:center">
				<div class="accordion-heading" style="background-color:rgb(228, 68, 68);"><a class="accordion-toggle" href="#collapse2" style="font-size:20px;color:white;margin-left:10px" data-toggle="collapse" data-parent="#accordion2">Acceptor</a></div>
				<div class="accordion-body collapse" id="collapse2">
					<div class="accordion-inner">
					  <table class="table ">
						<thead>
					        <tr>
					          <td>Mean change</td>
					          <td>Max change</td>
					          <td># points</td>
					      	  <td>Mean change</td>
					          <td>Max change</td>
					          <td># points</td>
					        </tr>
					  	</thead>
					     <tbody>
					       {% for ITEM in ACCEPT %}
					        <tr>
					          <td onclick="mepoints({{ ITEM.pk }},'{{ ITEM.mmp_clus_id.pk }}','good' )" class="success MOL{{ITEM.pk}} msucc">{{ ITEM.mean_change|floatformat }}</td>
					          <td onclick="mepoints({{ ITEM.pk }},'{{ ITEM.mmp_clus_id.pk }}','good' )" class="success MOL{{ITEM.pk}} msucc">{{ ITEM.max_change|floatformat }}</td>
					          <td onclick="mepoints({{ ITEM.pk }},'{{ ITEM.mmp_clus_id.pk }}','good' )" class="success MOL{{ITEM.pk}} msucc">{{ ITEM.num_points }}</td>
					     	  <td onclick="mepoints({{ ITEM.badpk }},'{{ ITEM.badclus_id }}','bad' )" class="danger MOL{{ITEM.badpk}} mdang ">{{ ITEM.mean_change_bad|floatformat }}</td>
					          <td onclick="mepoints({{ ITEM.badpk }},'{{ ITEM.badclus_id }}','bad' )" class="danger MOL{{ITEM.badpk}} mdang ">{{ ITEM.max_change_bad|floatformat }}</td>
					          <td onclick="mepoints({{ ITEM.badpk }},'{{ ITEM.badclus_id }}','bad' )" class="danger MOL{{ITEM.badpk}} mdang ">{{ ITEM.num_points_bad }}</td>
					        </tr>
					  		{% endfor %}
					  	</tbody>
					  </table>
			  </div>
			</div>

		</div>

	</div>
	<div class="accordion" id="accordion4">
			<div class="accordion-group" style="text-align:center">
				<div class="accordion-heading" style="background-color:rgb(76, 76, 197);"><a class="accordion-toggle" href="#collapse3" style="font-size:20px;color:white;margin-left:10px" data-toggle="collapse" data-parent="#accordion2">Donor</a></div>
				<div class="accordion-body collapse" id="collapse3">
					<div class="accordion-inner">
					  <table class="table ">
						<thead>
					        <tr>
					          <td>Mean change</td>
					          <td>Max change</td>
					          <td># points</td>
					      	  <td>Mean change</td>
					          <td>Max change</td>
					          <td># points</td>
					        </tr>
					  	</thead>
					       {% for ITEM in DONOR %}
					        <tr>
					          <td onclick="mepoints({{ ITEM.pk }},'{{ ITEM.mmp_clus_id.pk }}','good' )" class="success MOL{{ITEM.pk}} msucc">{{ ITEM.mean_change|floatformat }}</td>
					          <td onclick="mepoints({{ ITEM.pk }},'{{ ITEM.mmp_clus_id.pk }}','good' )" class="success MOL{{ITEM.pk}} msucc">{{ ITEM.max_change|floatformat }}</td>
					          <td onclick="mepoints({{ ITEM.pk }},'{{ ITEM.mmp_clus_id.pk }}','good' )" class="success MOL{{ITEM.pk}} msucc">{{ ITEM.num_points }}</td>
					     	  <td onclick="mepoints({{ ITEM.badpk }},'{{ ITEM.badclus_id }}','bad' )" class="danger MOL{{ITEM.badpk}} mdang ">{{ ITEM.mean_change_bad|floatformat }}</td>
					          <td onclick="mepoints({{ ITEM.badpk }},'{{ ITEM.badclus_id }}','bad' )" class="danger MOL{{ITEM.badpk}} mdang ">{{ ITEM.max_change_bad|floatformat }}</td>
					          <td onclick="mepoints({{ ITEM.badpk }},'{{ ITEM.badclus_id }}','bad' )" class="danger MOL{{ITEM.badpk}} mdang ">{{ ITEM.num_points_bad }}</td>
					        </tr>
					  		{% endfor %}
					  	</tbody>
					  </table>
			  </div>
			</div>
		  </div>
		 </div>
		</div>
  </div>
  
  
  
  
  
<div id="ICM-box" class="col-lg-5">
	<div>
    <a class="btn btn-sm btn-success" style="margin-bottom:10px" id="updatemapbut" onclick="showcmps()">Show Compounds</a>
	</div>
	  <div id="ICM-container">
	  <object type="application/x-molsoft-icb" style="z-index:100004;width: 100%; height:450px; margin: 0 !important;" id="ActiveIcmCtl">
	  <param value="{% static "Viewer/overview.icb" %}" name="targetFile">
	  <param value="transparent" name="wmode">
	</object>
	<p></p>
    <a class="btn btn-sm btn-default" onclick="runCommand('color background rgb={255,255,255}');">White</a>
    <a class="btn btn-sm btn-default" onclick="runCommand('color background rgb={0,0,0}');">Dark</a>
    <a style="margin-left:0px" class="btn btn-sm btn-primary" onclick="runCommand('undisplay a_{{ target.Title}}TEMP. ');">Protein off</a>
    <a class="btn btn-sm btn-primary" onclick="runCommand('undisplay a_{{ target.Title}}TEMP. xstick');runCommand('display a_{{ target.Title}}TEMP. ribbon');runCommand('display a_{{ target.Title}}TEMP. skin');">Surface</a>
    <a class="btn btn-sm btn-primary" onclick="runCommand('undisplay a_{{ target.Title}}TEMP. skin');runCommand('display a_{{ target.Title}}TEMP. xstick');">Stick</a>
	<a id="mmpdispbutt" style="margin-left:10px;display:none" onclick="document.getElementById('newmolcanv').style.display='';findasgr('{{ maps.0.pk }},{{ maps.1.pk }},{{ maps.2.pk }}','newmolcanv');" class="btn btn-sm btn-success">Display compounds</a>
    <a id="mmprembutt" style="display:none" onclick="runCommand('GRAPHICS.l_redraw = no');runCommand('delete a_MOL*.*');runCommand('GRAPHICS.l_redraw = yes');runCommand('display new');" class="btn btn-sm btn-warning">Remove </a>
	</div>
	</div>
	<div id="newmolcanv" style="overflow-y:scroll;height:430px;background-color:rgb(95, 156, 95)"class="col-lg-3 well">
	<center>
	</center>
	</div>
	<div id="antimolcanv" style="overflow-y:scroll;height:430px;background-color: rgb(197, 69, 69);"class="col-lg-3 well">
	<center>
	
	</center>
	</div>

</div>
</body>
</html> 

