<!DOCTYPE html>
<html lang="en">
  <head>
  {% load staticfiles %}
  <link href="{% static "LLOOMMPPAA/bootstrap.css" %}" media="screen" rel="stylesheet"/>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="{% static "LLOOMMPPAA/bootstrap.min.js" %}"></script>
  <script src="{% static "OOMMPPAA/jquery-1.7.min.js" %}"></script>
  <script src="{% static "OOMMPPAA/d3.min.js" %}"></script>
  <script src="{% static "LLOOMMPPAA/venn.min.js" %}"></script>
      <script src="{% static "OOMMPPAA/spin.js" %}"></script>
  <script src="{% static "LLOOMMPPAA/nprogress.js" %}"></script>
<link rel='stylesheet' href='{% static "LLOOMMPPAA/nprogress.css" %}'/>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script> 
  <script>
  function isIcmPluginEnabled(){
    var browser = "other";
    var userAgent = navigator.userAgent.toLowerCase();
    
    if(userAgent.indexOf("msie") != -1){
        browser = "msie";
    }
    else
    if (userAgent.indexOf("firefox") != -1) {
        browser = "firefox";
    }
    else
    if (userAgent.indexOf("chrome") != -1) {
        browser = "chrome";
    }
    else
    if (userAgent.indexOf("safari") != -1) {
        browser = "safari";
    }

        if (navigator.plugins && navigator.plugins.length > 0) {
            for (i=0; i < navigator.plugins.length; i++ ) {
                if (navigator.plugins[i].name.toLowerCase().indexOf('molsoft')!= -1){
                    return true;
                }
            }
        return false;
    }
}
		var isplugin = false;
    	$(document).ready(function() {
    	isplugin = isIcmPluginEnabled();
    	if (isplugin==false){
    	document.getElementById("mygetstarted").setAttribute("class","btn btn-lg btn-success disabled");
    	document.getElementById("skiptut").setAttribute("class","btn btn-lg btn-warning disabled");
    	document.getElementById("skiptut2").setAttribute("class","btn btn-lg btn-default dropdown-toggle disabled");
    	document.getElementById("noICMdiv").style.display="";
		};
    	}
    	)
var my_j = "";
window.onload = function() {
// define sets and set set intersections - pull these from jquery
var url_string = "{% url 'LLOOMMPPAA:find_overlap' target_id %}"+"?num={{tot_num}}";


$.ajax({
  url: url_string,
  beforeSend: function( xhr ) {
    xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
  }
}).done(function(data) {
my_j = $.parseJSON(data);
$('#example').jvenn({
    series: my_j["my_data"],
    displayStat: true,
    displayMode: 'classic'
  });
  // Now make the graph chart options
  opts = my_j["opts"];
  for(i=0; i <opts.length; i++ ){
     var opt = opts[i];
  	 var my_s = '<div class="radio"> <label> <input  name="optionsRadios" value="'+ opt +'" checked="" type="radio" id="choice'+ opt +'blah";"> '+ opt +'</label>   </div>'
  	 $("#optdiv").append(my_s);
  };
  fill_chart();
  var my_s = '<a  id="searchbutt"  class="btn btn-sm btn-primary" onclick="fill_chart();">Refresh</a>';		
  $("#optdiv").append(my_s);
  
})


}


function fill_chart(){


// Complex type is the complexity metric
var complex_type = $('input[name="optionsRadios"]:checked').val();


var cmp_url = "{% url 'LLOOMMPPAA:find_score'  2 %}?SCORE="+complex_type;
// Function to fill a chart based on a given list of CMPD ids
  // First get the list of cmpd_ids
  for(i=0; i <my_j["my_data"].length; i++ ){
    cmpd_ids = my_j["my_data"][i]["data"];
	
  	var my_url = cmp_url.replace("/2/", "/" + i.toString() + "/") + "&MY_VALS="+cmpd_ids.join();
  	//Now get this info
	$.ajax({
	  url: my_url,
	  beforeSend: function( xhr ) {
	    xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
	  }
	}).done(function(data) {
	// Now this info is my info for this compound
	out_l = $.parseJSON(data);
	charts[out_l["cmpd_id"]].dataProvider = out_l["my_d"];
	charts[out_l["cmpd_id"]].titles = [{"text": my_j["my_data"][out_l["cmpd_id"]]["name"],"size": 15}]
  	charts[out_l["cmpd_id"]].validateData();
	})  	

  };
}

var my_info = {
    "type": "serial",
    "theme": "none",
    "dataProvider": [],
	    "valueAxes": [{
	        "gridColor":"#FFFFFF",
			"gridAlpha": 0.2,
			"dashLength": 0
	    }],
    "gridAboveGraphs": true,
    "startDuration": 1,
	    "graphs": [{
	        "balloonText": "[[category]]: <b>[[value]]</b>",
	        "fillAlphas": 0.8,
	        "lineAlpha": 0.2,
	        "type": "column",
	        "valueField": "value"		
	    }],
	    "chartCursor": {
	        "categoryBalloonEnabled": false,
	        "cursorAlpha": 0,
	        "zoomable": false
	    },
    "categoryField": "num_feats",
	    "categoryAxis": {
	        "gridPosition": "start",
	        "gridAlpha": 0,
	         "tickPosition":"start",
	         "tickLength":20
	    }
	}
var my_info = {
    "type": "serial",
    "theme": "none",
    "dataProvider": [],
	    "valueAxes": [{
	        "gridColor":"#FFFFFF",
			"gridAlpha": 0.2,
			"dashLength": 0
	    }],
    "gridAboveGraphs": true,
    "startDuration": 1,
	    "graphs": [{
	        "balloonText": "[[category]]: <b>[[value]]</b>",
	        "fillAlphas": 0.8,
	        "lineAlpha": 0.2,
	        "type": "column",
	        "valueField": "value"		
	    }],
	    "chartCursor": {
	        "categoryBalloonEnabled": false,
	        "cursorAlpha": 0,
	        "zoomable": false
	    },
    "categoryField": "num_feats",
	    "categoryAxis": {
	        "gridPosition": "start",
	        "gridAlpha": 0,
	         "tickPosition":"start",
	         "tickLength":20
	    }
	}
	var my_info_two = {
    "type": "serial",
    "theme": "none",
    "dataProvider": [],
	    "valueAxes": [{
	        "gridColor":"#FFFFFF",
			"gridAlpha": 0.2,
			"dashLength": 0
	    }],
    "gridAboveGraphs": true,
    "startDuration": 1,
	    "graphs": [{
	        "balloonText": "[[category]]: <b>[[value]]</b>",
	        "fillAlphas": 0.8,
	        "lineAlpha": 0.2,
	        "type": "column",
	        "valueField": "value"		
	    }],
	    "chartCursor": {
	        "categoryBalloonEnabled": false,
	        "cursorAlpha": 0,
	        "zoomable": false
	    },
    "categoryField": "num_feats",
	    "categoryAxis": {
	        "gridPosition": "start",
	        "gridAlpha": 0,
	         "tickPosition":"start",
	         "tickLength":20
	    }
	}
	var my_info_three = {
    "type": "serial",
    "theme": "none",
    "dataProvider": [],
	    "valueAxes": [{
	        "gridColor":"#FFFFFF",
			"gridAlpha": 0.2,
			"dashLength": 0
	    }],
    "gridAboveGraphs": true,
    "startDuration": 1,
	    "graphs": [{
	        "balloonText": "[[category]]: <b>[[value]]</b>",
	        "fillAlphas": 0.8,
	        "lineAlpha": 0.2,
	        "type": "column",
	        "valueField": "value"		
	    }],
	    "chartCursor": {
	        "categoryBalloonEnabled": false,
	        "cursorAlpha": 0,
	        "zoomable": false
	    },
    "categoryField": "num_feats",
	    "categoryAxis": {
	        "gridPosition": "start",
	        "gridAlpha": 0,
	         "tickPosition":"start",
	         "tickLength":20
	    }
	}
	var my_info_four = {
    "type": "serial",
    "theme": "none",
    "dataProvider": [],
	    "valueAxes": [{
	        "gridColor":"#FFFFFF",
			"gridAlpha": 0.2,
			"dashLength": 0
	    }],
    "gridAboveGraphs": true,
    "startDuration": 1,
	    "graphs": [{
	        "balloonText": "[[category]]: <b>[[value]]</b>",
	        "fillAlphas": 0.8,
	        "lineAlpha": 0.2,
	        "type": "column",
	        "valueField": "value"		
	    }],
	    "chartCursor": {
	        "categoryBalloonEnabled": false,
	        "cursorAlpha": 0,
	        "zoomable": false
	    },
    "categoryField": "num_feats",
	    "categoryAxis": {
	        "gridPosition": "start",
	        "gridAlpha": 0,
	         "tickPosition":"start",
	         "tickLength":20
	    }
	}
	var my_info_five = {
    "type": "serial",
    "theme": "none",
    "dataProvider": [],
	    "valueAxes": [{
	        "gridColor":"#FFFFFF",
			"gridAlpha": 0.2,
			"dashLength": 0
	    }],
    "gridAboveGraphs": true,
    "startDuration": 1,
	    "graphs": [{
	        "balloonText": "[[category]]: <b>[[value]]</b>",
	        "fillAlphas": 0.8,
	        "lineAlpha": 0.2,
	        "type": "column",
	        "valueField": "value"		
	    }],
	    "chartCursor": {
	        "categoryBalloonEnabled": false,
	        "cursorAlpha": 0,
	        "zoomable": false
	    },
    "categoryField": "num_feats",
	    "categoryAxis": {
	        "gridPosition": "start",
	        "gridAlpha": 0,
	         "tickPosition":"start",
	         "tickLength":20
	    }
	}
var charts = [AmCharts.makeChart("chartone", my_info), AmCharts.makeChart("charttwo", my_info_two), AmCharts.makeChart("chartthree", my_info_three),AmCharts.makeChart("chartfour", my_info_four),AmCharts.makeChart("chartfive", my_info_five)]

  </script>
  
  <style>
  .chartdiv {
	width		: 100%;
	height		: 200px;
	font-size	: 11px;
}	
  </style>
  <link rel="stylesheet" href="{% static "OOMMPPAA/bootstrap.min.css" %}">
  <link rel="shortcut icon" href="{% static "OOMMPPAA/icon.ico" %}" type="image/x-icon">
   <title>LLOOMMPPAA: Home </title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta charset="utf-8">
  </head>
  <body> 
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{% url 'LLOOMMPPAA:index'%}" class="navbar-brand">LLOOMMPPAA</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="targets">Targets <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
			    {% if targets %}
			      {% for Target in targets %}
			        <li><a tabindex="-1"href="{% url 'LLOOMMPPAA:ExperimentViewer' Target.id %}">{{ Target.title }}</a></li>
			      {% endfor %}
			    {% else %}
			    <li><a tabindex="-1" >No targets are available.Make your first?</a></li>
			    {% endif %}
              </ul>
            </li>
            <li>
              <a href="http://www.blopig.com/blog/">Blog</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Download<span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
			       <li><a tabindex="-1"href="https://bitbucket.org/abradley/dist/Windows">Windows</a></li>
			       <li class="divider"></li>
			       <li><a tabindex="-1"href="https://bitbucket.org/abradley/dist/Ubuntu">Ubuntu</a></li>
			       <li><a tabindex="-1"href="https://bitbucket.org/abradley/dist/Centos">Centos</a></li>
			       <li class="divider"></li>
			       <li><a tabindex="-1"href="https://bitbucket.org/abradley/src">Python</a></li>
			    </ul>
            </li>
                        <li>
              <a href="{% url 'index' %}">HOME</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
    		<div class="row">
    		<br></br>
    		</div>
		<div class="row">
			<div id="example" class="col-lg-6">		  
			</div>
			<div  class="col-lg-3">
			<div class="chartdiv" id="chartone"></div>
			</div>		
			<div  class="col-lg-3">
			<div class="chartdiv" id="charttwo" ></div>
			</div>
			<div  class="col-lg-3">
			<div class="chartdiv" id="chartthree" ></div>
			</div>	
			<div  class="col-lg-3">
			<div class="chartdiv" id="chartfour" ></div>
			</div>		
			<div  class="col-lg-3">
			<div class="chartdiv" id="chartfive" ></div>
			</div>
			<div  class="col-lg-3">
			<div id="optdiv" ></div>
			</div>	
		</div>
		 	<center>
		      <footer>
		        <div class="row">
		          <div class="col-lg-12">
		            <p>Made by <a href="http://www.dtc.ox.ac.uk/people/11/bradley/">Anthony Bradley</a>. Contact him at <a href="mailto:anthony.bradley@worc.ox.ac.uk">anthony.bradley@worc.ox.ac.uk</a>.</p>
		            <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.</p>
		            <p>Based on <a href="http://getbootstrap.com">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts">Google</a>. Favicon by <a href="https://twitter.com/geraldhiller">Gerald Hiller</a>.</p>
		          </div>
		        </div>
		     </footer>
		   </center>
    </div>
  </body>
 </html>
