<!DOCTYPE html>
<html lang="en">
  <head>
  {% load staticfiles %}
  <link href="{% static "WONKA/bootstrap.css" %}" media="screen" rel="stylesheet"/>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="{% static "WONKA/bootstrap.min.js" %}"></script>
  <script src="{% static "OOMMPPAA/jquery-1.7.min.js" %}"></script>
  <script>

    	$(document).ready(function() {
    	}
    	)
    	
 		  function show_me(my_pk){
		      document.getElementById("ActiveIcmCtl"+my_pk).display="";
			  var ctl =document.getElementById('ActiveIcmCtl'+my_pk);
			  ctl.RunCommands("read binary 'http://163.1.63.28:9010/WONKA/request_observation/?my_pk="+my_pk+"&me=dl.icb'");
				  ctl.RunCommands("display a_*key_water.* xstick  red");
				  ctl.RunCommands("display a_*key_site.* xstick");
				  ctl.RunCommands("display a_*key_site.* cpk");
				  ctl.RunCommands("display a_*RESME*.* xstick");

				  ctl.RunCommands("display a_*water.* &! a_*key_water.* xstick  blue");
				  //ctl.RunCommands("undisplay a_*water.* cpk");
				  //ctl.RunCommands("display a_url*. xstick");
				  //ctl.RunCommands("undisplay a_url*. cpk");
				  ctl.RunCommands("display a_*mol*. xstick");
				  ctl.RunCommands("display a_*prot*. ribbon");
				  
				  ctl.RunCommands("display Res(Sphere(a_*mol*. a_*prot*. 5.0) & a_*prot*.) xstick");
				  //ctl.RunCommands("display a_*key_*. cpk");
				  //ctl.RunCommands("display a_*ph4. cpk");
			  }



  </script>
 	<script>

	Module = {
	  memoryInitializerPrefixURL:'{% static "WONKA/lib/" %}',
	  preInit: function() { /*alert('preinit');*/ }
	}
	</script>
	<script src="{% static "WONKA/lib/libicm.js" %}"> </script>
	   
  
  <link rel="stylesheet" href="{% static "WONKA/bootstrap.min.css" %}">
  <link rel="shortcut icon" href="{% static "WONKA/icon.ico" %}" type="image/x-icon">
   <title>WONKA: {{target.title }}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta charset="utf-8">
  </head>
  <body> 
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{% url 'WONKA:index'%}" class="navbar-brand">WONKA</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="targets">Targets <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
			    {% if targets %}
			      {% for Target in targets %}
			        <li><a tabindex="-1"href="{% url 'WONKA:ShowObservations' Target.id %}">{{ Target.title }}</a></li>
			      {% endfor %}
			    {% else %}
			    <li><a tabindex="-1" >No targets are available.Make your first?</a></li>
			    {% endif %}
              </ul>
            </li>
            <li>
              <a href="http://www.blopig.com/blog/">Blog</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Download<span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
			       <li><a tabindex="-1"href="https://bitbucket.org/abradley/wonka/wiki/Home">Bitbucket</a></li>
			    </ul>
            </li>
                        <li>
              <a href="{% url 'index' %}">HOME</a>
            </li>
          </ul>
          
          <ul class="nav navbar-nav navbar-left">
            <li><a>{{ target.title }}</a></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div style="margin-top:50px;" class="container">
      {% for ob in obs %}
      	{% if forloop.counter <= 3 %}
	      <div class="col-lg-4">
	          <div style="height:92px;text-overflow:ellipsis">
		      <h3>{{ob.author}}:</h3> {{ob.comments}}
		      </div>
		      <a target="_blank" href="{% url 'WONKA:ShowObs' ob.uuid %}#disqus_thread">LINK</a>
		      <div id="act_div_{{forloop.counter}}" style="width: 100%; height: 200px; border: 2px solid #ABABAB"></div>
		   </div>
		    {% endif %}
		    {% if forloop.counter > 3 %}
		  	<div class="col-lg-4">
		      <h3>{{ob.author}}:</h3> {{ob.comments}}
		      <a target="_blank" href="{% url 'WONKA:ShowObs' ob.uuid %}#disqus_thread">LINK</a>
		  </div>
	  	{% endif %}
      {% endfor %}
			  <script>


function onLoadActiveIcm(){
				act_1 = new Module.ActiveIcm("act_div_1",0,0);
	            //var ctl =document.getElementById('ActiveIcmCtl');
	 			act_1.OpenProject('{{obs.0.my_src }}',{})

				act_2 = new Module.ActiveIcm("act_div_2",0,0);
	            //var ctl =document.getElementById('ActiveIcmCtl');
	 			act_2.OpenProject('{{obs.1.my_src }}',{})
				act_3 = new Module.ActiveIcm("act_div_3",0,0);
	            //var ctl =document.getElementById('ActiveIcmCtl');
	 			act_3.OpenProject('{{obs.2.my_src }}',{})

				}

			  </script>

      
 	  </div>
 	  <center>
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Made by <a href="http://www.dtc.ox.ac.uk/people/11/bradley/">Anthony Bradley</a>. Contact him at <a href="mailto:anthony.bradley@worc.ox.ac.uk">anthony.bradley@worc.ox.ac.uk</a>.</p>
            <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.</p>
            <p>Based on <a href="http://getbootstrap.com">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts">Google</a>. Favicon by <a href="https://twitter.com/geraldhiller">Gerald Hiller</a>.</p>
          </div>
        </div>
      </footer>
       </center>
   <script type="text/javascript">
   {% load disqus_tags %}
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'wonkadiscuss'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());

</script>
  </body>
 </html>
